snippet class
	class ${1:NombreDeLaClase} {
		${2:constructor() {
			$3
		}}
	}
endsnippet

snippet func
	function ${1:NombreFuncion}(){
		$2
	}
endsnippet

snippet const
	const ${1:NombreDeLaFuncion}()=>{
	}
endsnippet

snippet rfc
    export default function $1(){
      retunr <></>
    }
endsnippet
